name: CI/CD pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]
jobs:
  build_and_test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Run linting
        run: npm run eslint

      - name: Build project
        run: npm run build

      - name: Run tests
        run: npm test

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run e2e-test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  version_and_deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: build_and_test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Calculate new version (dry run)
        id: tag
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8 # version 1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          RELEASE_BRANCHES: main
          WITH_V: false
          NONE_STRING_TOKEN: "#skip"
          BRANCH_HISTORY: last
          DRY_RUN: true

      - name: Update package.json and create release commit
        if: steps.tag.outputs.new_tag != '' && steps.tag.outputs.new_tag != steps.tag.outputs.old_tag
        run: |
          NEW_VERSION="${{ steps.tag.outputs.new_tag }}"
          echo "Bumping version to: $NEW_VERSION"
          npm pkg set version=$NEW_VERSION
          git add package.json package-lock.json
          git commit -m "Release: $NEW_VERSION"
          git push

      - name: Create and push tag on release commit
        if: steps.tag.outputs.new_tag != '' && steps.tag.outputs.new_tag != steps.tag.outputs.old_tag
        run: |
          NEW_VERSION="${{ steps.tag.outputs.new_tag }}"
          git tag $NEW_VERSION
          git push origin $NEW_VERSION

      - name: Deploy application
        if: steps.tag.outputs.new_tag != '' && steps.tag.outputs.new_tag != steps.tag.outputs.old_tag
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}
